body {
  "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif;
}

.we-are {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 4em;
  line-height: 1.1em;
}

@media screen and (max-width: 760px) {
  .we-are { font-size: 1em; }
}

.rockstar-image {
  width: 100%;
  margin-bottom: 20em;
}

.google-maps {
  position: relative;
  padding-bottom: 250px;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0；
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
