
body {
  margin: 0;
  padding: 0;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}


#site {
  margin: 40px auto;
}

#main .row,
#footer .row {
  padding: 0 30px;
}

#banner {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

#banner .fb-like {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#banner img {
  width: 100%;
}


#main {
  background-color: #fff;
}

#main .content-box h2 {
  margin: 25px 0;
  font-size: 25px;
  font-weight: bold;
  color: #585858;
}

#main .content-box img {
  width: 100%;
  display: block;
}

#main .content-box .text {
  margin: 25px 0;
  font-size: 12px;
  color: #4f4f4f;
}


#footer {
  background-color: #ededed;
  border-top: 2px solid #bababa;
  border-radius: 0 0 10px 10px;
}

#footer .content {
  padding-top: 25px;
  padding-bottom: 25px;
}

#footer .google-map h3 {
  font-size: 15px;
  font-weight: bold;
  color: #585858;
  margin-top: 0;
}

#footer .google-map iframe {
  width: 100%;
  height: 300px;
}

#footer .border {
  background-image: url(../images/footerbg_07.jpg);
  background-repeat: repeat-x;
  height: 2px;
  padding: 0;
}

#footer .bar {
  padding-top: 15px;
  padding-bottom: 15px;
}

#footer .copyright {
  margin: 0;
  padding: 0;
  text-align: center;
}

#footer .social-buttons {
  margin: 0;
  padding: 0;
  float: right;
  overflow: hidden;
}

#footer .social-buttons li {
  list-style-type: none;
  margin-left: 15px;
  float: left;
}

#footer .copyright,
#footer .social-buttons li {
  height: 20px;
  line-height: 20px;
}


@media (max-width: 767px) {
  #site {
    margin: 0;
  }

  #banner,
  #footer {
    border-radius: 0;
  }

  #main .row,
  #footer .row {
    padding-left: 10px;
    padding-right: 10px;
  }
}

